* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif; 
}

#navbar {
    background: linear-gradient(
    to bottom, 
    rgb(231, 224, 212), 
    #3e6d3e
    );
    
}


.single-column {
    width: 50%;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.side-by-side img {
    padding-left: 36px;
    width: 100%;
}

