@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tangerine:wght@400;700&display=swap');

* {
    box-sizing: border-box
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#layout {
    max-width: 800px;
    margin: 48px auto;
    text-align: center;
}

.vertical-masonry-gallery {
    columns: 3 auto;
    column-gap: 24px;
}

.vertical-masonry-gallery img {
    width: 100%;
    margin-bottom: 24px;
}

#hero-1 {
    background-image: url("../images/Bruno\ Animation.png");
    height: 100vh;
    background-size: cover;
    background-position: center center;

}

.basic-grid-gallery img {
        width: 90%;
}

#hero-1 h1 {
    font-size: 80px;
    text-align: center;
    color: bisque; 
    padding-left: 100px;
}

#layout {
    max-width: 800px;
    margin: 48px auto;
    text-align: center;
}

.basic-grid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1px;
    border: 10px solid #333333;
}

.basic-grid-gallery img {
    width: 100%;
    padding: 6px;
}

#centered-column {
    width: 90vw;
    max-width: 800px;
    margin: 48px auto;
    display: flex; 
    flex-wrap: wrap;
    gap: 36px;
    justify-content: center;
}

#centered-column {
    width: 90vw;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.card {
    border: 2px solid #FFE4DA;
    width: 350px;
    padding: 10px;
    margin: 24px;
    text-align: center;
    box-shadow: -24 4px 12px black;
    background: linear-gradient(
        rgb(219, 177, 177),
        rgb(229, 224, 229),
        rgb(156, 171, 195)
    );
}