* {
    box-sizing: border-box
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding-top: 13px; /* new */
    padding-bottom: 12px;
}

#navbar {
    background: linear-gradient(
    to bottom, 
    rgb(165, 144, 5), 
    #5b500c
    );
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 40px;
}

#navbar img {
    width: 800px;
}

#navbar a:hover {
    background: linear-gradient(
    to top, 
    #c0ae0a, 
    #a7a211
    );
}