* {
    box-sizing: border-box
}

body {
    margin: 0px;
    font-family: sans-serif;
}

body {
    background-color: #dfeee7;
    color: #c15656;
}

.single-column {
    width: 50%;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#navbar #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding-top: 13px; /* new */
    padding-bottom: 12px;
}

#navbar {
    background: linear-gradient(
    to bottom, 
    rgb(165, 144, 5), 
    #5b500c
    );
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 40px;
}

#navbar img {
    width: 800px;
}

#navbar a:hover {
    background: linear-gradient(
    to top, 
    #c0ae0a, 
    #a7a211
    );
}

.dropdown-container {
    position: relative;
}

.dropdown-menu {
    position: absolute;
}

#hero-1 {
    background-image: url("../images/mysic2.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 100px; 
}

#hero-1 h1 {
    font-size: 120px; 
    padding-left: 100px;    
}

#hero-1 h2 {
        color: rgb(192, 51, 27);
        font-size: 60px;
}

#hero-1 h3 {
    color: rgb(175, 6, 218);
    font-size: 40px;
    
}

#footer a {
    text-decoration: none;
    color: white;
}

#footer {
    background: linear-gradient(
    to bottom, 
    rgb(165, 144, 5), 
    #5b500c
    );
    color: white;
    padding: 12px;
}

#footer-navbar {
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

#footer-columns-navbar div {
    display: flex;
    flex-direction: column;
}


@media screen and (max-width: 480px) {
    
}