* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    background: linear-gradient(to bottom, #7db27e, #434929);
    display: flex;
    align-items: center;
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar a:hover {
    background: linear-gradient(to top, #109cb8, #0e5b96);
}

#navbar #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding-top: 13px;
    padding-bottom: 12px;
}

.dropdown-container {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.25s,
        visibility 0.25s;
}

.dropdown-container:last-child .dropdown-menu {
    right: 0px;
}

.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu a {
    background-color: rgb(66, 198, 136);
    width: 100%;
    min-width: 200px;
}

#navbar .dropdown-menu a:hover {
    background: rgb(89, 205, 183);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#navbar-column,
.center-column {
    width: 500px;
    margin: 0px auto;
}

#hero-1 {
    background-image: url("../images/puppy.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    margin-bottom: 100px;
}

#hero-1 h1 {
    font-size: 90px;
    display: flex;
    justify-content: center;
    color: burlywood;
    padding-bottom: 100px;
}

@media screen and (max-width: 600px) {
    body {
        background-color: none;
        .content-container h1 {
            font-size: 32px;
        }
    
        .intro {
            gap: 24px;
        }
    
        .image-container {
            height: 300px;
        }
    
    }
}    


  